[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-session = "*"
jinja2 = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.9"
