{% extends "layout.html" %}

{% block title %}Admin Login{% endblock %}

{% block main %}
    <div class="forms">
        <h2 class="container-fluid heading mb-4">Admin Login</h2>
        <div>
            <form action="/admin/login" method="post">
                {{ form.hidden_tag() }}
                <p>{{ form.username(class_="form-control mx-auto w-auto p-2", placeholder="Username") }}</p>
                <p>{{ form.password(class_="form-control mx-auto w-auto p-2", placeholder="Password") }}</p>
                <div class="text-center">
                    <p>{{ form.submit(class="button small", value="Submit") }}</p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}