{% extends "layout.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block main %}
    <form action="/admin/new-event" method="post" class="needs-validation" autocomplete="off" novalidate>
        <h2 class="heading">Create new event</h2>
        <div class="text-center">
            <p>{{ form.date(class_="form-control mx-auto w-auto mt-3 mb-3", placeholder="Date") }}</p>
            <div class="invalid-feedback">Must enter date</div>

            <p>{{ form.location(class_="form-control mx-auto w-auto mt-3 mb-3", placeholder="Location") }}</p>
            <div class="invalid-feedback">Must enter a location</div>

            <p>{{ form.start_time(class_="form-control mx-auto w-auto mt-3 mb-3", placeholder="Start Time") }}</p>
            <div class="invalid-feedback">Must enter a starting time</div>

            <p>{{ form.end_time(class_="form-control mx-auto w-auto mt-3 mb-3", placeholder="End Time") }}</p>
            <div class="invalid-feedback">Must enter an ending time</div>

            <p>{{ form.number_of_teams(class_="form-control mx-auto w-auto mt-3 mb-3", placeholder="Number of Teams") }}</p>
            <div class="invalid-feedback">Must enter valid number of teams</div>

            <p>{{ form.number_of_players(class_="form-control mx-auto w-auto mt-3 mb-3", placeholder="Number of Players") }}</p>
            <div class="invalid-feedback">Must enter valid number of players</div>

            <!--       TODO: woops this doesn't spill over used to be textarea pls fix @chris     -->
            <p>{{ form.notes(class_="form-control mx-auto w-auto mt-3 mb-3", rows="5", cols="5", type="text", style="height: 100px", placeholder="Notes") }}</p>
            <div class="invalid-feedback">Must enter a description of your event</div>

            <button class="button small" type="submit" name="create">Create</button>
        </div>
    </form>

    <script>
        var form = document.querySelector('.needs-validation');

        form.addEventListener('submit', function(event) {
            if (form.checkValidity() == false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        })
    </script>
{% endblock %}