{% extends "layout.html" %}

{% block title %} Success! {% endblock %}
{% block main %}
    <div class="success-grid">
        <div class="success">
            <h1 class="success animate__animated animate__fadeInLeft">Success!</h1>
        </div>
        <div class="success-picture">
            <iframe src="https://gifer.com/embed/JGB" width=1080 height=440.000 frameBorder="0" allowFullScreen></iframe>
        </div>
        <div class="success-message animate__animated animate__fadeInLeft">
            <h2>Your event has been added.</h2>
            <p>Players can now view and register for events on the 'Upcoming Games' page.</p>
            <button class="button animate__animated animate__bounceIn animate__delay-1s"><a class="event" href="/">Back to Home</a></button>
        </div>

    </div>

{% endblock %}