body
{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background-color: #E9E9DF !important;
}

.heading
{
    text-align: center;
}

nav
{
    background-color: #123167;
    color: #da1430;
}

.text
{
    margin-top: 2%;
    margin-bottom: 3%;
}

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active, .open .dropdown-toggle.btn-outline-dark
{
    background-color: #123167 !important;
    border-color: #123167 !important;
    color: white !important;
    border-color: #123167 !important;
}


.btn
{
   border-width: 3px !important;
   border-radius: 10px !important;
   border-color: #123167 !important;
}

input[type=text], input[type=number], input[type=password], input[type=date], textarea[type=text], select, input[type=integer], input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=integer]:focus, textarea[type=text]:focus
{
    background-color: transparent !important;
    border-color: #123167 !important;
    border-width: 3px !important;
    width: 22% !important;
    outline-color: transparent !important;
    outline-style: none !important;
}

.message
{
    height: 200px !important;
}

.pref select, .pref input
{
    display: inline-block;
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-bottom: 3px !important;
    margin-top: 0px !important;
}

.pref
{
    text-align: center;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
}

.contain {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
}

.list {
    grid-column: span 3;
}

.event {
    text-decoration: none !important;
    color: #E9E9DF;
    background-color: transparent;
    border: none;
}

.event:hover {
    text-decoration: none !important;
    color: #E9E9DF;
}

.list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 40px 120px;
    grid-column: span 5;
    border-radius: 30px;
    background-color: #123167;
    margin: 20px;
    font-size: 20px;
    transition: all 0.5s;
}

.list-item:hover {
    transform: scale(1.1);
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.event-location {
    grid-column: span 3;
}

.event-title {
    grid-column: span 2;
}

.event-title {
    grid-column: span 3;
}

.not {
    color: green;
    background-color: blue;
}

.format {
    font-weight: bold;
    color: #d31532;
}

.heading {
    font-size: 30px;
    margin-bottom: 20px;
    grid-column: span 3;
}

.button {
    margin-top: 10px;
    background-color: #123167;
    color: #E9E9DF;
    font-size: 25px;
    padding: 10px 20px !important;
    border-radius: 30px;
    transition: all 0.5s;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
    color: #E9E9DF;
}

.push {
    margin-left: auto;
}

.forms {
    margin-top: 15%;
}

.red {
    background-color: #d31532;
}

.small {
    transform: scale(1.1)
}

.dropdown {
    float: right !important;
}

h4 {
    color: #d31532;
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.success-grid {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
}

.success {
    font-weight: bold;
    grid-column: span 3;
    display: flex;
    align-items: flex-end;
}

.success-picture {
    grid-column: span 2;
    grid-row: span 3;
    display: flex;
    align-items: center;
}

.success-message {
    margin-top: 3%;
    grid-column: span 3;
    line-height:2.5;
}

.login-logout-form {
    height: 100%;
    padding: 50px;
}

th {
    color: #808080;
}

td {
    padding: 40px !important;
}

thead {
    border-bottom-color: #808080 !important;
}
