{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}
    <div>
        <h2 class="container-fluid heading">Upcoming Games</h2>
        {% if games %}
        <table class="table table-hover">
            <thead>
                <th scope="col">Title</th>
                <th scope="col">Notes</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td> Title Goes Here </td>
                        <td> {{ game.notes }} </td>
                        <td> {{ game.location }} </td>
                        <td> {{ game.date }} </td>
                        <td> {{ game.start_time }} - {{ game.end_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p> Oh no! Looks like there are no upcoming events :( </p>
        {% endif %}
    </div>

{% endblock %}