{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}
    <div class="game-viewer">
        <div class="sidebar">
        </div>
        <div class="game-table">
            <h2 class="container-fluid heading">Upcoming Games</h2>
            {% if games %}
            <table class="table table-hover">
                <thead>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr class="clickable" onclick="window.location='{{ url_for('games.rsvp', game_id=game._id) }}'">
                            <td>{{ game.date }} | {{ game.start_time }} - {{ game.end_time }} <br>
                                <h3>{{ game.location }}</h3> <br>
                                <p> {{ game.notes }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <p> Oh no! Looks like there are no upcoming events :( </p>
            {% endif %}
        </div>
    </div>


{% endblock %}