{% extends "layout.html" %}

{% block title %}RSVP{% endblock %}

{% block main %}
    <div class="forms">
        <h2 class="container-fluid heading mb-4 mt-3 heading">RSVP for game at <span class="format">{{ game_data.date }}</span></h2>
        <h4 class="container-fluid mb-4 mt-3 text-align-center"></h4>
    </div>

<!-- Form using wtform class - novalidate maybe add later-->
    <form action="success" method="post" autocomplete="off">
        {{ form.hidden_tag() }}
        <div class="pref container">
            <p>{{ form.name(class_="form-control mx-auto w-auto p-2", placeholder="Name") }}</p>
            <p>{{ form.years(class_="form-control mx-auto w-auto mt-3 mb-4 p-2", placeholder="Years of Experience") }}</p>
        </div>
        <div class="pref container">
            <p>{{ form.position_1(class="form-select mx-auto w-auto mb-4 mt-4") }}</p>
            <p>{{ form.position_2(class="form-select mx-auto w-auto mb-4 mt-4") }}</p>
            <p>{{ form.position_3(class="form-select mx-auto w-auto mb-4 mt-4") }}</p>
        </div>
        <div class="text-center">
            <p>{{ form.submit(class="button small", value="Submit") }}</p>
        </div>
        <input id="game_id" class="invisible" type="text" name='game_id' value='{{ game_data.id }}'/>
    </form>
{% endblock %}