{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
    <h2 class="container-fluid heading mt-3 mb-4">Upcoming Games</h2>

    <table class="table mt-4">
        <thead class="table container">
            <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>

    <form action="/" method="post">
        <button class="btn btn-outline-dark mt-5">Register for most recent event</button>
    </form>

{% endblock %}