{% extends "layout.html" %}

{% block title %}Admin Login{% endblock %}

{% block main %}
    <h2 class="container-fluid heading mb-4 mt-3">Admin Login</h2>

    <form action="/login" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto p-2" type="text" placeholder="Username"/>
        <input class="form-control mx-auto w-auto mt-3 mb-4 p-2" type="password" placeholder="Password" />
        <div class="text-center">
            <input class="form-control mx-auto w-auto btn btn-outline-dark" type="submit" value="Login"/>
        </div>
    </form>
{% endblock %}